<!-- templates/golf/buddy_confirm_delete.html -->
{% extends 'base.html' %}

{% block title %}Confirm Buddy Deletion{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="w3-card w3-teal w3-padding">
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to remove "{{ object }}" from the group?</p>
        {{ form }}
        <button type="submit">Confirm</button> &nbsp;&nbsp;<button><a href="../update">Cancel</a></button>
    </form>
</div>
{% endblock %}