<!-- templates/golf/course_holes_form.html -->
{% extends "base.html" %}

{% block title %}Track Match{% endblock %}


{% block content %}

<style>
    table, th, td {
     border: 1px solid white;
    }

    td {
        width: 45px;
        text-align: center;
    }

    input {max-width: 3em}

    .hole_no {
        width:30px;
    }


</style>

{% load crispy_forms_tags %}
<div class="w3-card w3-teal w3-padding">
    <h1 class="w3-small">
    {{round_meta.course_name}}&nbsp;&nbsp;{{round_meta.course_par}} / {{round_meta.course_rating}} / {{round_meta.slope_rating}}<br>
    {{round_meta.round_date}}&nbsp;&nbsp;{{round_meta.buddy_group}}<br><br>

    {% if request.user.email != round_meta.round_admin %}
    <a href="/golf/display_max_hole/{{round_meta.round_id}}/"><button>&#8635;</button></a>&nbsp;&nbsp;
    {% endif %}
   
    {% if round_meta.hole_no > 1 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/{{round_meta.previous_hole_no}}"><button><</button></a>
    {% endif %}

    {% if round_meta.hole_no < 19 %}
        &nbsp;Playing Hole No: {{round_meta.hole_no}}&nbsp;
    {% else %}
        &nbsp;Match Completed&nbsp;
    {% endif %}

    {% if round_meta.hole_no <= 18 and round_meta.hole_no <= round_meta.last_hole_scored %}
    <a href="/golf/trackmatch/{{round_meta.round_id}}/{{round_meta.next_hole_no}}"><button>></button></a>
    {% endif %}
    <br>

    <form method="post">
        {% csrf_token %}

        <table>
            <th>ID</th><th>Name&nbsp;</th><th>HCP</th><th>GRS/Net</th><th>Stbd</th>
            {% if round_meta.no_of_players == 2 %}<th>MP</th>{% endif %}
            {% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}<th>Score</th>{% endif %}
            <tr>
                <td>A</td><td>{{player_dict.player1.name|truncatechars:7}}</td>
                <td>{{round_meta.player_a_course_hcp}}</td>
                <td>{{player_dict.player1.running_totals.0}}/{{player_dict.player1.running_totals.1}}</td>
                <td bgcolor="{{stableford_medal_positions.a}}"; style="color:#000000">{{player_dict.player1.running_totals.2}}</td>
                <!-- <td>{{player_dict.player1.running_totals.2}}</td> -->
                {% if round_meta.no_of_players == 2 %}
                <td bgcolor="{{player_dict.player1.running_totals.4}}">{{player_dict.player1.running_totals.3}}</td>
                {% endif %}
                {% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}<td>{{ form.player_A|as_crispy_field }}</td>{% endif %}
            </tr>
            <tr>
                <td>B</td><td>{{player_dict.player2.name|truncatechars:7}}</td>
                <td>{{round_meta.player_b_course_hcp}}</td>
                <td>{{player_dict.player2.running_totals.0}}/{{player_dict.player2.running_totals.1}}</td>
                <td bgcolor="{{stableford_medal_positions.b}}"; style="color:#000000">{{player_dict.player2.running_totals.2}}</td>
                <!-- <td>{{player_dict.player2.running_totals.2}}</td> -->
                {% if round_meta.no_of_players == 2 %}
                <td bgcolor="{{player_dict.player2.running_totals.4}}">{{player_dict.player2.running_totals.3}}</td>
                {% endif %}
                {% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}<td>{{ form.player_B|as_crispy_field }}</td>{% endif %}
            </tr>
            {% if round_meta.no_of_players > 2 %}
            <tr>
                <td>C</td><td>{{player_dict.player3.name|truncatechars:7}}</td>
                <td>{{round_meta.player_c_course_hcp}}</td>
                <td>{{player_dict.player3.running_totals.0}}/{{player_dict.player3.running_totals.1}}</td>
                <td bgcolor="{{stableford_medal_positions.c}}"; style="color:#000000">{{player_dict.player3.running_totals.2}}</td>
                {% if round_meta.no_of_players == 2 %}
                <td>{{player_dict.player3.running_totals.3}}</td>
                {% endif %}
                {% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}<td>{{ form.player_C|as_crispy_field }}</td>{% endif %}
            </tr>
            {% endif %}
            {% if round_meta.no_of_players > 3 %}
            <tr>
                <td>D</td><td>{{player_dict.player4.name|truncatechars:7}}</td>
                <td>{{round_meta.player_d_course_hcp}}</td>
                <td>{{player_dict.player4.running_totals.0}}/{{player_dict.player4.running_totals.1}}</td>
                <td bgcolor="{{stableford_medal_positions.d}}"; style="color:#000000">{{player_dict.player4.running_totals.2}}</td>
                {% if round_meta.no_of_players == 2 %}
                <td>{{player_dict.player4.running_totals.3}}</td>
                {% endif %}
                {% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}<td>{{ form.player_D|as_crispy_field }}</td>{% endif %}
            </tr>
            {% endif %}
        </table>
        
        <p> </p>
        {% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}
            <button type="submit">Add Scores</button>
        {% endif %}

    </form>

    {% if request.user.email != round_meta.round_admin %}

        {% if round_meta.last_hole_scored >= 1 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/2/"><button class="hole_no">1</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 2 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/3/"><button class="hole_no">2</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 3 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/4/"><button class="hole_no">3</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 4 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/5/"><button class="hole_no">4</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 5 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/6/"><button class="hole_no">5</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 6 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/7/"><button class="hole_no">6</button></a>&nbsp;
        {% endif %}
        <p> </p>
        {% if round_meta.last_hole_scored >= 7 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/8/"><button class="hole_no">7</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 8 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/9/"><button class="hole_no">8</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 9 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/10/"><button class="hole_no">9</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 10 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/11/"><button class="hole_no">10</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 11 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/12/"><button class="hole_no">11</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 12 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/13/"><button class="hole_no">12</button></a>&nbsp;
        {% endif %}
        <p> </p>
        {% if round_meta.last_hole_scored >= 13 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/14/"><button class="hole_no">13</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 14 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/15/"><button class="hole_no">14</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 15 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/16/"><button class="hole_no">15</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 16 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/17/"><button class="hole_no">16</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 17 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/18/"><button class="hole_no">17</button></a>&nbsp;
        {% endif %}
        {% if round_meta.last_hole_scored >= 18 %}
        <a href="/golf/trackmatch/{{round_meta.round_id}}/19/"><button class="hole_no">18</button></a>&nbsp;
        {% endif %}
        
    {% endif %}


 

        <hr>
        Scorecard
        <table>
            <th>Hole</th><th>Par&nbsp;</th><th>SI&nbsp;&nbsp;</th><th>&nbsp;A&nbsp;</th><th>&nbsp;B&nbsp;</th>
       
            <!-- <tr><td>{{player_dict.player1.holes_attr.0.0}}</td><td>{{player_dict.player1.holes_attr.0.1}}</td><td>{{player_dict.player1.holes_attr.0.2}}</td><td bgcolor='{{player_dict.player1.holes_attr.0.5}}'>{{player_dict.player1.holes_attr.0.4}}</td><td>{{player_dict.player2.holes_attr.0.4}}</td></tr> -->

            <tr><td>{{player_dict.player1.holes_attr.0.0}}</td><td>{{player_dict.player1.holes_attr.0.1}}</td><td>{{player_dict.player1.holes_attr.0.2}}</td>
                <td>{{player_dict.player1.holes_attr.0.4}}{% if player_dict.player1.holes_attr.0.4 > player_dict.player1.holes_attr.0.5 and player_dict.player1.holes_attr.0.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.0.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.0.4}}{% if player_dict.player2.holes_attr.0.4 > player_dict.player2.holes_attr.0.5 and player_dict.player2.holes_attr.0.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.0.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.1.0}}</td><td>{{player_dict.player1.holes_attr.1.1}}</td><td>{{player_dict.player1.holes_attr.1.2}}</td>
                <td>{{player_dict.player1.holes_attr.1.4}}{% if player_dict.player1.holes_attr.1.4 > player_dict.player1.holes_attr.1.5 and player_dict.player1.holes_attr.1.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.1.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.1.4}}{% if player_dict.player2.holes_attr.1.4 > player_dict.player2.holes_attr.1.5 and player_dict.player2.holes_attr.1.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.1.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.2.0}}</td><td>{{player_dict.player1.holes_attr.2.1}}</td><td>{{player_dict.player1.holes_attr.2.2}}</td>
                <td>{{player_dict.player1.holes_attr.2.4}}{% if player_dict.player1.holes_attr.2.4 > player_dict.player1.holes_attr.2.5 and player_dict.player1.holes_attr.2.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.2.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.2.4}}{% if player_dict.player2.holes_attr.2.4 > player_dict.player2.holes_attr.2.5 and player_dict.player2.holes_attr.2.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.2.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.3.0}}</td><td>{{player_dict.player1.holes_attr.3.1}}</td><td>{{player_dict.player1.holes_attr.3.2}}</td>
                <td>{{player_dict.player1.holes_attr.3.4}}{% if player_dict.player1.holes_attr.3.4 > player_dict.player1.holes_attr.3.5 and player_dict.player1.holes_attr.3.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.3.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.3.4}}{% if player_dict.player2.holes_attr.3.4 > player_dict.player2.holes_attr.3.5 and player_dict.player2.holes_attr.3.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.3.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.4.0}}</td><td>{{player_dict.player1.holes_attr.4.1}}</td><td>{{player_dict.player1.holes_attr.4.2}}</td>
                <td>{{player_dict.player1.holes_attr.4.4}}{% if player_dict.player1.holes_attr.4.4 > player_dict.player1.holes_attr.4.5 and player_dict.player1.holes_attr.4.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.4.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.4.4}}{% if player_dict.player2.holes_attr.4.4 > player_dict.player2.holes_attr.4.5 and player_dict.player2.holes_attr.4.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.4.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.5.0}}</td><td>{{player_dict.player1.holes_attr.5.1}}</td><td>{{player_dict.player1.holes_attr.5.2}}</td>
                <td>{{player_dict.player1.holes_attr.5.4}}{% if player_dict.player1.holes_attr.5.4 > player_dict.player1.holes_attr.5.5 and player_dict.player1.holes_attr.5.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.5.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.5.4}}{% if player_dict.player2.holes_attr.5.4 > player_dict.player2.holes_attr.5.5 and player_dict.player2.holes_attr.5.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.5.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.6.0}}</td><td>{{player_dict.player1.holes_attr.6.1}}</td><td>{{player_dict.player1.holes_attr.6.2}}</td>
                <td>{{player_dict.player1.holes_attr.6.4}}{% if player_dict.player1.holes_attr.6.4 > player_dict.player1.holes_attr.6.5 and player_dict.player1.holes_attr.6.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.6.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.6.4}}{% if player_dict.player2.holes_attr.6.4 > player_dict.player2.holes_attr.6.5 and player_dict.player2.holes_attr.6.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.6.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.7.0}}</td><td>{{player_dict.player1.holes_attr.7.1}}</td><td>{{player_dict.player1.holes_attr.7.2}}</td>
                <td>{{player_dict.player1.holes_attr.7.4}}{% if player_dict.player1.holes_attr.7.4 > player_dict.player1.holes_attr.7.5 and player_dict.player1.holes_attr.7.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.7.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.7.4}}{% if player_dict.player2.holes_attr.7.4 > player_dict.player2.holes_attr.7.5 and player_dict.player2.holes_attr.7.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.7.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.8.0}}</td><td>{{player_dict.player1.holes_attr.8.1}}</td><td>{{player_dict.player1.holes_attr.8.2}}</td>
                <td>{{player_dict.player1.holes_attr.8.4}}{% if player_dict.player1.holes_attr.8.4 > player_dict.player1.holes_attr.8.5 and player_dict.player1.holes_attr.8.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.8.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.8.4}}{% if player_dict.player2.holes_attr.8.4 > player_dict.player2.holes_attr.8.5 and player_dict.player2.holes_attr.8.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.8.5}} {% endif %}</td></tr>

            <tr><td>Out</td><td>{{round_meta.outpar}}</td><td>&nbsp;</td>
                {% if round_meta.hole_no > 9 %}
                <td bgcolor="DarkSlateGray">{{player_dict.player1.running_totals.5}}/{{player_dict.player1.running_totals.6}}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                {% if round_meta.hole_no > 9 %}
                <td bgcolor="DarkSlateGray">{{player_dict.player2.running_totals.5}}/{{player_dict.player2.running_totals.6}}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            <tr>
            </tr>
            <tr>
            </tr>

            <tr><td>{{player_dict.player1.holes_attr.9.0}}</td><td>{{player_dict.player1.holes_attr.9.1}}</td><td>{{player_dict.player1.holes_attr.9.2}}</td>
                <td>{{player_dict.player1.holes_attr.9.4}}{% if player_dict.player1.holes_attr.9.4 > player_dict.player1.holes_attr.9.5 and player_dict.player1.holes_attr.9.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.9.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.9.4}}{% if player_dict.player2.holes_attr.9.4 > player_dict.player2.holes_attr.9.5 and player_dict.player2.holes_attr.9.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.9.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.10.0}}</td><td>{{player_dict.player1.holes_attr.10.1}}</td><td>{{player_dict.player1.holes_attr.10.2}}</td>
                <td>{{player_dict.player1.holes_attr.10.4}}{% if player_dict.player1.holes_attr.10.4 > player_dict.player1.holes_attr.10.5 and player_dict.player1.holes_attr.10.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.10.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.10.4}}{% if player_dict.player2.holes_attr.10.4 > player_dict.player2.holes_attr.10.5 and player_dict.player2.holes_attr.10.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.10.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.11.0}}</td><td>{{player_dict.player1.holes_attr.11.1}}</td><td>{{player_dict.player1.holes_attr.11.2}}</td>
                <td>{{player_dict.player1.holes_attr.11.4}}{% if player_dict.player1.holes_attr.11.4 > player_dict.player1.holes_attr.11.5 and player_dict.player1.holes_attr.11.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.11.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.11.4}}{% if player_dict.player2.holes_attr.11.4 > player_dict.player2.holes_attr.11.5 and player_dict.player2.holes_attr.11.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.11.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.12.0}}</td><td>{{player_dict.player1.holes_attr.12.1}}</td><td>{{player_dict.player1.holes_attr.12.2}}</td>
                <td>{{player_dict.player1.holes_attr.12.4}}{% if player_dict.player1.holes_attr.12.4 > player_dict.player1.holes_attr.12.5 and player_dict.player1.holes_attr.12.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.12.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.12.4}}{% if player_dict.player2.holes_attr.12.4 > player_dict.player2.holes_attr.12.5 and player_dict.player2.holes_attr.12.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.12.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.13.0}}</td><td>{{player_dict.player1.holes_attr.13.1}}</td><td>{{player_dict.player1.holes_attr.13.2}}</td>
                <td>{{player_dict.player1.holes_attr.13.4}}{% if player_dict.player1.holes_attr.13.4 > player_dict.player1.holes_attr.13.5 and player_dict.player1.holes_attr.13.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.13.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.13.4}}{% if player_dict.player2.holes_attr.13.4 > player_dict.player2.holes_attr.13.5 and player_dict.player2.holes_attr.13.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.13.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.14.0}}</td><td>{{player_dict.player1.holes_attr.14.1}}</td><td>{{player_dict.player1.holes_attr.14.2}}</td>
                <td>{{player_dict.player1.holes_attr.14.4}}{% if player_dict.player1.holes_attr.14.4 > player_dict.player1.holes_attr.14.5 and player_dict.player1.holes_attr.14.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.14.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.14.4}}{% if player_dict.player2.holes_attr.14.4 > player_dict.player2.holes_attr.14.5 and player_dict.player2.holes_attr.14.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.14.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.15.0}}</td><td>{{player_dict.player1.holes_attr.15.1}}</td><td>{{player_dict.player1.holes_attr.15.2}}</td>
                <td>{{player_dict.player1.holes_attr.15.4}}{% if player_dict.player1.holes_attr.15.4 > player_dict.player1.holes_attr.15.5 and player_dict.player1.holes_attr.15.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.15.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.15.4}}{% if player_dict.player2.holes_attr.15.4 > player_dict.player2.holes_attr.15.5 and player_dict.player2.holes_attr.15.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.15.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.16.0}}</td><td>{{player_dict.player1.holes_attr.16.1}}</td><td>{{player_dict.player1.holes_attr.16.2}}</td>
                <td>{{player_dict.player1.holes_attr.16.4}}{% if player_dict.player1.holes_attr.16.4 > player_dict.player1.holes_attr.16.5 and player_dict.player1.holes_attr.16.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.16.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.16.4}}{% if player_dict.player2.holes_attr.16.4 > player_dict.player2.holes_attr.16.5 and player_dict.player2.holes_attr.16.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.16.5}} {% endif %}</td></tr>

            <tr><td>{{player_dict.player1.holes_attr.17.0}}</td><td>{{player_dict.player1.holes_attr.17.1}}</td><td>{{player_dict.player1.holes_attr.17.2}}</td>
                <td>{{player_dict.player1.holes_attr.17.4}}{% if player_dict.player1.holes_attr.17.4 > player_dict.player1.holes_attr.17.5 and player_dict.player1.holes_attr.17.4|slice:"1" != "*" %}/{{player_dict.player1.holes_attr.17.5}} {% endif %}</td>
                <td>{{player_dict.player2.holes_attr.17.4}}{% if player_dict.player2.holes_attr.17.4 > player_dict.player2.holes_attr.17.5 and player_dict.player2.holes_attr.17.4|slice:"1" != "*" %}/{{player_dict.player2.holes_attr.17.5}} {% endif %}</td></tr>
                

            <tr><td>In</td><td>{{round_meta.inpar}}</td><td>&nbsp;</td>
                {% if round_meta.hole_no == 19 %}
                <td bgcolor="DarkSlateGray">{{player_dict.player1.running_totals.7}}/{{player_dict.player1.running_totals.8}}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                {% if round_meta.hole_no == 19 %}
                <td bgcolor="DarkSlateGray">{{player_dict.player2.running_totals.7}}/{{player_dict.player2.running_totals.8}}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>

                <tr>
                </tr>
                <tr>
                </tr>

            <tr><td>Total</td><td>{{round_meta.totalpar}}</td><td>&nbsp;</td>
                {% if round_meta.hole_no == 19 %}
                <td bgcolor="Black">{{player_dict.player1.running_totals.0}}/{{player_dict.player1.running_totals.1}}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                {% if round_meta.hole_no == 19 %}
                <td bgcolor="Black">{{player_dict.player2.running_totals.0}}/{{player_dict.player2.running_totals.1}}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
        </table>

    </h1>  

</div>
{% if round_meta.hole_no < 19 and request.user.email == round_meta.round_admin %}
<script>
    (function(){
        var forms = document.forms || [];
        for(var i = 0; i < forms.length; i++){
            for(var j = 0; j < forms[i].length; j++){
                if(!forms[i][j].readonly != undefined && forms[i][j].type != "hidden" && forms[i][j].disabled != true && forms[i][j].style.display != 'none'){
                    forms[i][j].focus();
                    return;
                }
            }
        }
    })();
</script>
{% endif %}
{% endblock %}