<!-- templates/golf/chart_handicap_page2.html -->

{% extends 'base.html' %} {% block content %}

<div id="container" style="width: 95%;">
  <canvas id="chart_handicap_graph" data-url="{% url 'chart_handicap_graph' %}"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

  $(function () {

    var $roundsChart = $("#chart_handicap_graph");
    $.ajax({
      url: $roundsChart.data("url"),
      success: function (data) {

        var ctx = $roundsChart[0].getContext("2d");

        new Chart(ctx, {
          type: "bar",
          data: {
            labels: data.labels.slice(-20),
            datasets: [
              {
                label: 'Deviation (+/-) from overall average (' + data.average + ')',
                backgroundColor: data.backgroundcolors.slice(-20),
                borderRadius: 5,
                data: data.data.slice(-20),
                borderWidth: 1,
              },
            ],
          },
          options: {

            scales: {
              y: {
                beginAtZero: true,
              },
            },
            plugins: {
              legend: {
                position: 'bottom',
                labels: {
                  generateLabels: chart => {
                    const courselabel = []
                    data.coursesplayed.forEach((courseplayed, index) => {
                      courselabel.push({
                        text: courseplayed,
                        fillStyle: data.coursesplayedcolor[index],
                        strokeStyle: data.coursesplayedcolor[index]
                      })
                    })
                    return courselabel;
                  }
                }

              },
              title: {
                display: true,
                text: 'Deviation (+/-) from overall average (' + data.average + ')',
                font: {
                  size: 12
                }
              },
            }
          },

        });
      }
    });
  })
</script>

<br>
<button><a href="/golf/chart_rounds_page/">Show Rounds Chart</a></button>

{% endblock %}