<!-- templates/golf/golfgroup_detail.html -->

{% extends "base.html" %}

{% block title %}Golf Group Detail{% endblock %}

{% block content %}
<div class="w3-card w3-teal w3-padding">
    <h1 class="w3-large">Golf Group Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="update\">&#9998;</a></button></h1>
        Group name<br>
        <div style="color:black;background-color:lightgray;display: inline-block; border:1px solid black;border-radius:3px;">&nbsp;{{golfgroup.group_name}}&nbsp;</div><br><br>
        Favourite<br>
        {{golfgroup.favourite|yesno:"Yes,No"}}
        <hr>
</div>
{% endblock %}