<!-- templates/golf/round_list_handicap.html -->
{% extends "base.html" %}

{% block title %}Round List Handicap{% endblock %}

{% block content %}
<div class="w3-card w3-teal w3-padding">
        <h1 class="w3-large">Round List Handicap {{date_parameter}}:</h1>
        {% if total_number_of_rounds >= 3 and buddy_text == "" %}
            <button><a href="/golf/list_round_handicaps/">Today</a></button>
            <button><a href="/golf/list_round_handicaps/?d=4weeks">4W Ago</a></button>
            <button><a href="/golf/list_round_handicaps/?d=6months">6M Ago</a></button>
            <button><a href="/golf/list_round_handicaps/?d=1year">1Y Ago</a></button>
        {% endif %}
    <p style="font-size:16px">{{buddy_text}} {{ player }}</p>
    {% if total_number_of_rounds >= 3 %}
        <button><a href="{% url 'handicapview' calculated_handicap=calculated_handicap total_number_of_rounds=total_number_of_rounds number_of_lowest_rounds=number_of_lowest_rounds  %}">Show Handicap {{date_parameter}}</a></button>
    {% else %}
        {{ message }}
    {% endif %}
    <table class="w3-table w3-bordered">
        <tr>
            <td style="font-size:11px">Date</td><td style="font-size:11px">Course</td><td style="font-size:11px">CRS/SLP Rating</td><td style="font-size:11px">Score</td><td style="font-size:11px">HCP Diff.</td>
        </tr>
        {% for round_details in object %}
            {% if round_details.id in lowest_round_id_list %}
                <tr style="background-color:darkblue">
            {% else %}
                <tr>
            {% endif %}
                <td style="font-size:11px">{{ round_details.date|date:"dMy" }}</td><td style="font-size:11px">{{ round_details.course }}</td><td style="font-size:11px">{{ round_details.course.course_rating }} / {{ round_details.course.slope_rating }}</td><td style="font-size:11px">{{ round_details.score }}</td><td style="font-size:11px">{{ round_details.handicap_differential }}</td>
            </tr>
        {% empty %}
            <li>No rounds yet.</li>
        {% endfor %}
    </table>
    <br>
   

</div>
{% endblock %}