<!-- templates/golf/stats_detail.html -->
{% extends "base.html" %}

{% block title %}Golf Course Statistics Detail{% endblock %}

{% block content %}

<style>
    table, th, td {
     border: 1px solid white;
    }

    td {
        width: 45px;
        text-align: center;
    }

    input {max-width: 3em}

    .hole_no {
        width:30px;
    }

    .recessed {
        /* background-color: #fff;  */
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow to create the recessed effect */
        padding: 10px; /* Add some padding for spacing */
        max-width: 350px;
    }
</style>

<div class="w3-card w3-teal w3-padding">
    <h1 class="w3-small">
    Round Statistics at {{course}}
    <table class="w3-table w3-bordered" style="max-width:400px;">
            <tr>
                <td font-size:12px;>No. of rounds: {{ no_of_rounds }}</td>         
            </tr>
            <tr>
                <td font-size:12px;>Best Score: {{ best_round }}</td>         
            </tr>
            <tr>
                <td font-size:12px;>Worst Score: {{ worst_round }}</td>         
            </tr>
            <tr>
                <td font-size:12px;>Average Score: {{ average_round }}</td>         
            </tr>
    </table>
    <br>
    {% if no_of_completed_scorecards != "None" %}
    <button><a href="/golf/get_course_stats/{{course_id}}/{{player_id}}/Detailed">Show Detailed Hole Stats</a></button><br>
    High Level Hole Stats at {{course}} based on {{ no_of_completed_scorecards }} scorecards
        <br>
    <small>MRR - Most Recent Round</small>
    <table>
        <th>Hole</th><th>Par&nbsp;</th><th>SI&nbsp;&nbsp;<br>Crs/Per</th><th>&nbsp;Best&nbsp;&nbsp;<br>({{calculated_round_best_total}})</th><th>&nbsp;Worst&nbsp;<br>({{calculated_round_worst_total}})</th><th>&nbsp;Av.&nbsp;</th><th>&nbsp;MRR&nbsp;</th>
        {% for s in stats_scorecard %}
        <tr>
            <td>{{s.0}}</td><td>{{s.1}}</td>
            <td {% if s.2 == s.7 %}style="background-color: gold; color:#000000"{% elif s.2|add:"-5" > s.7 or s.7|add:"-5" > s.2 %}style="background-color: red;"{% endif %}>{{s.2}}/{{s.7}}</td>
            {% if s.3 < s.1 %}<td bgcolor="Gold"; style="color:#000000">{{s.3}}</td>{%elif s.3 == s.1  %}<td bgcolor="Silver"; style="color:#000000">{{s.3}}</td>{% else %}<td>{{s.3}}</td>{% endif %}
            <td>{{s.4}}</td><td>{{s.5|floatformat:2}}</td>
            {% if s.6 < s.5%}<td bgcolor="Gold"; style="color:#000000">{{s.6}}</td>
            {% elif s.5|add:1 < s.6 %}<td bgcolor="Red"; style="color:#ffffff">{{s.6}}</td>
            {% else %}<td>{{s.6}}</td>{% endif %}
            
        </tr>

        {% endfor %}
    </table>    
    {% else %}

    <h1 class="w3-large">No completed scorecards for {{course}}</h1>

    {% endif %}

</h1>
   

{% endblock %}