<!-- templates/golf/user_list.html -->
{% extends "base.html" %}

{% block title %}Buddy List{% endblock %}

{% block content %}
<div class="w3-card w3-teal w3-padding">
    <h1 class="w3-large">Buddies</h1>
    <table class="w3-table w3-bordered">
        {% for buddy in users %}
            <tr>
                <td style="font-size:11px; width:65%;">{{ buddy.firstname }}&nbsp;{{ buddy.surname }}&nbsp; {{buddy.handicap}}</td>
                <td style="font-size:11px; width:17%;"><button><a href="/golf/list_round_handicaps/?p={{ buddy.id }}">Rounds</a></button></td>
                <td style="font-size:11px; width:17%;"><button><a href="/golf/list_your_scorecards/{{ buddy.id }}/">Scorecards</a></button></td>
            </tr>
        {% empty %}
            <li>No users yet.</li>
        {% endfor %}
    </table>
    <br>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}