<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="w3-large">Hi {{ user.email }}!</h1>
<button><a href="{% url 'buddylistall' %}">Buddy List</a></button>
<button><a href="{% url 'courselistdifficulty' %}">Courses by Difficulty</a></button>
<br><br>
<button><a href="/golf/list_best_rounds/">Your Best Scores</a></button>
<button><a href="/golf/best_course_list/">Your Best Courses</a></button>
<br><br>
<button><a href="/golf/best_holes_list/">Your Best 20 Holes</a></button>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_gjbrnsui.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
  <p><button><a href="{% url 'logout' %}">Log Out</a></button></p>
  <p><button><a href="{% url 'password_reset' %}">Reset Password</a></button></p>
{% else %}
  <p>You are not logged in</p>
  <button><a href="{% url 'login' %}">Log In</a></button>
  <button><a href="{% url 'signup' %}">Sign Up</a></button>
{% endif %}
{% endblock %}